/* src/App.css */
#root {
  max-width: auto;
  margin: 0 auto;
  padding: auto;
  text-align: center;
}

.dark .bg-white {
  background-color: #1a202c; /* Tailwind's gray-900 */
}

.dark .text-black {
  color: #f7fafc; /* Tailwind's gray-100 */
}

.dark .bg-gray-900 {
  background-color: #1a202c; /* Tailwind's gray-900 */
}

.dark .text-white {
  color: #f7fafc; /* Tailwind's gray-100 */
}